# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env Files
.env

# Logs
logs/
*.log
logs/*.log

# Editor directories and files
.idea/
.vscode/
*.swp

# System files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp

# MacOS
.AppleDouble
.LSOverride
